html {
	background-color: #C2D4D8;
}

body {
	padding-bottom: 20px;
}

@media print {
  a[href]:after {
    display: none;
  }

  a:link,
  a:visited {
	color: #333;
  }
}

.printable h1 {
	font-size: 1.5em;
}

.printable h2 {
	font-size: 1.3em;
}

.printable a:link,
.printable a:visited {
	margin-left: 30px;
}

td.page {
	text-align: right;
	white-space: nowrap;
}

.ui-button.ui-button-icon-only {
	height: 26px;
	margin-top: -4px;
	width: 26px;
}

.share {
	margin-top: 50px;
}